<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <mapping class="fr.debnet.ircrpg.models.Player"/>
    <mapping class="fr.debnet.ircrpg.models.Item"/>
    <mapping class="fr.debnet.ircrpg.models.Spell"/>
    <mapping class="fr.debnet.ircrpg.models.Event"/>
    <mapping class="fr.debnet.ircrpg.models.Result"/>
  </session-factory>
</hibernate-configuration>
